.shop-stuff-header-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.shop-stuff-header {
  text-transform: uppercase;
}

.shop-item-container {
  ul{
  display: grid;
  list-style-type: none;  
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 25px;
  padding: 40px 230px 0 170px;
  li {
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
  }
  img {
    max-width: 250px;
    height: 200px;
    padding-top: 20px;
  }
  }
  h2 .shop-item {
    width: 200px; 
  }
}

.product {
  object-fit: contain;  
  border: $color__border;  
  width: 250px;
  height: 250px;
}

.archive .product-type-blocks {
  border-bottom: $color__border-dashed;  
  display: flex;
  justify-content: center;
  .shop-product-link {
    padding: 2rem;
    a {
    color: $color__brand-green;
    text-transform: uppercase;
    text-decoration: none;
    }
  }
}

.archive .site-main{
  padding-top: 5rem;
  .taxonomy-description, h1 {
    display: flex;
    justify-content: center;
  }
  h1 {
    text-transform: uppercase;
  }
}

archive.product.entry-header {
  width: 600px;
  margin-top: 300px;
}

.taxonomy-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.taxonomy-product-container {
  position: relative;
  padding-right: 20px;
  img {
    max-height: 200px;
    height: -webkit-fill-available;
  }
}

.archive .entry-header img {
  position: absolute;
  position: relative; 
  width: 100%;
  width: 246px;
  height: 247px;
  transform: translate(-50%,-52%);
  top: 130px;
  left: 124px;
}

.entry-title {
  border: $color__border;
  border-top-width: 5px;
  font-size: 16px;
  width: 97%;
  margin: 0;  
  padding: 10px;
  padding-left: 20px;
  font-weight: 100;
}

//category-by-month page
body.archive.date, .archive {
  .archive-month-header {
    justify-content: left;
    border-bottom: $color__border;
    padding-bottom: 1rem;
    margin: 0 8.5rem 0 1rem;
  }
  article .post {
    margin-left: 10rem;
  }
  .entry-title-about {
    font-size: 48px;
    color: $color__background-body;
  }
  .content-area {
    margin-left: 7rem;
    .entry-header {
      width: auto;
      height: 520px;
      padding-top: 2rem;
    }
    img {
      position: relative;      
      width: 100%;
      height: 100%;
      top: 17rem;
      left: 23.5rem;
    }
  }
  
  .page-template-about .entry-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .entry-content p {
    margin: 0 10rem 5rem 11px;
  }
  
  .entry-header {
    display: flex;
    align-items: center;
    position: relative;
    align-items: center;
    h2 {
      color: white;
      border: none;
    }
  }
  
  .entry-header  {
    position: relative;
    height: auto;
    width: 640px;    
    margin: 10px 100px 10px 50px;
  }
  
  .entry-meta {
    position: absolute;
    background-color: $color__brand-green;
    color: $color__background-body;
    bottom: -18px;
    right: 38px;
    padding: 10px;
  }
}

.archive.entry-title {
  position: absolute;
  left: -38px;
  top: 70px;
  width: 450px;
  padding: 15px;
  margin-top: 30px;    
  background-color: $color__brand-green;
  color: $color__background-body;
  a {
    color: white;
    text-decoration: none;
    font-size: 2.1rem;      
    font-weight: 700;
  }
}

.site-main h1.archive-month-header {
  justify-content: flex-start;
}

//find us page
.page-template-default {
  .entry-content {
    margin: 6rem 6rem 2rem 10rem;
    width: 760px;
  }
  .widget-area {
    width: 55vw;
  }
  h2{
  text-transform: uppercase;
  font-size: 2.1rem;  
  }
  .wpcf7-form-control-wrap input, .wpcf7-form-control {
    background-color: $color__grey;
    border: $color__border; 
  }
  .wpcf7-submit {
    color: $color__link;
    background-color: $color__brand-green;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    text-shadow: none;
  }
  .entry-title {
    display: none;
  }
}