body.blog {
  .entry-title-about {
    font-size: 48px;
    color: $color__background-body;
  }
  .content-area {
    margin-left: 7rem;
    .entry-header {
      width: 760px;
    }
    img {
      width: 100%;
    }
  }
  .page-template-about .entry-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .entry-content p {
    margin: 0 10rem 1rem 3rem;
  }
  .entry-title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 450px;
    background-color: $color__brand-green;
    color: $color__background-body;
    margin-top: 30px;
    padding: 15px;
  }
  .entry-header {
    display: flex;
    align-items: center;
    position: relative;
    align-items: center;
     h2, a {
      color: white;
      border: none;
      font-family: Novovento Sans Web, sans sarif;
      font-size: 2.5rem;
      color: #fff;
      text-decoration: none;
    }
  }
  .entry-header  {
    position: relative;
    height: auto;
    width: 640px;    
    margin: 10px 100px 10px 50px;
  }
  .entry-meta {
    position: absolute;
    background-color: $color__brand-green;
    color: $color__background-body;
    bottom: 0px;
    left: 426px;
    padding: 10px;
  }
}

.single.single-post {
  @extend .blog;
  @extend .entry-header;
  .entry-meta .comments-link a {
  font-size: 16px;
  }
  .blog-product-social  {
    margin-left: 3rem;
    span {
      padding-left: 10px;
    }
    button {
      a {
        color: $color__black;
        text-decoration: none; 
      }
    }
    button :hover {
      color: white;
    }
  }
}

.comment-author-avatar{
  border-radius: 50%;
  width: 4rem;  
  height: 4rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.comments-title {
  font-size: 2.1rem;
}

.comment-list {
  list-style-type:none;
  li {
    margin: 3rem 5rem 0 3rem;
    .comment-body{
      display: flex;
    }
  }
}

.comment-form {
  position: relative;
  .comment-form-email {
    position: absolute;
    right: 10rem;
    bottom: 7.5rem;
  }
}

.comment-form-url {
  input{
  width: 94%;
  }
}

.comment-content {
  border-bottom: 1px solid #e1e1e1;
}

.reply a {
  color:$color__brand-green;
  text-decoration: none;
}

.entry-header h1{
  font-family: $font__family-main;
  border: none;
  font-size: 2.5rem;  
}

.entry-footer{
  background: none;  
  margin-left: 1rem;
  height: 2rem;
  span{
    margin-left: 2rem;  
    a{
    color: $color__brand-green;
    }
  }
}