body.blog {
  .entry-title-about {
    font-size: 48px;
    color: $color__background-body;
  }
  .content-area {
    margin-left: 7rem;
    .entry-header {
      width: 760px;
    }
    img {
      width: 100%;
    }
  }
  
  .page-template-about .entry-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .entry-content p {
    margin: 0 10rem 0 3rem;
  }
  
  .entry-title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 450px;
    // top: 185px;
    background-color: $color__brand-green;
    color: $color__background-body;
    margin-top: 30px;
    padding: 15px;
  }
  
  .entry-header {
    display: flex;
    align-items: center;
    position: relative;
    align-items: center;
    h2 {
      color: white;
      border: none;
    }
  }
  
  .entry-header  {
    position: relative;
    height: auto;
    width: 640px;    
    margin: 10px 100px 10px 50px;
  }
  
  .entry-meta {
    position: absolute;
    background-color: $color__brand-green;
    color: $color__background-body;
    bottom: 0px;
    left: 426px;
    padding: 10px;
  }
  
}