body:not(.home):not(.about):not(.post-type-archive):not(.tax-product-type) .content-area {
  width: 70%;
  padding-top: 85px;
}

body:not(.home):not(.about):not(.post-type-archive):not(.tax-product-type) .site-content {
display: flex;
}
