/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


.hero {
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),
  url(../../images/home-hero.jpg);  
  background-size: cover;
  // background: url(../../images/logos/inhabitent-logo-full.svg) no-repeat center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo {
  background:
  url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
  background-size: 50px 33px;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.front-center-logo-wrapper{
  display: flex;
  justify-content: center;
}

// .site-content {
//   display: flex;
//   padding-top: 40px;
//   justify-content: center;
//   position: relative;
// }

.front-center-logo {
  width: 275px;
  height: 275px;
  position: absolute;
  bottom: 25%;
}

// SHOP STUFF
.product-info h2 {
  display: flex;
  // flex-direction: column;
  justify-content: center;
}

.product-type-blocks {
  display: flex;
  justify-content: center;
}

.product-type-blocks {
  display: flex;
  justify-content: space-evenly;
}

.product-type-block-wrapper{
  width: 250px;
  height: 270px;
  border: $color__border;
  border-top-width: 5px;
  position: relative;
  // margin: 0 auto;
  img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: flex;
  }
}
.product-type-block-wrapper:hover {
  border: $color__orange-border;
  border-top-width: 5px;
}

.stuff-button  {
  position: absolute;
  background-color: $color__brand-green;
  text-shadow: none;
  a {
    color: $color__background-body;
  } 
}

// .stuff-buttona:hover{
//   background-color: black;
// }

//archive

// .archive-content-area {
//   display: grid;
//   grid-template-columns: 1fr, 1fr;
//   grid-template-rows: 1fr, 1fr, 1fr;
//   background-color: blue;  

// }

.entry-title-about {
  font-size: 48px;
  color: $color__background-body;
}

.page-template-about .entry-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.entry-title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 450px;
  // top: 185px;
  background-color: $color__brand-green;
  color: $color__background-body;
  margin-top: 30px;
  padding: 15px;
}

.entry-header {
  display: flex;
  align-items: center;
  position: relative;
  align-items: center;
  h2 {
    color: white;
  }
}

.entry-header  {
  height: auto;
  width: 40%;
}

.entry-meta {
  position: absolute;
  background-color: $color__brand-green;
  color: $color__background-body;
  bottom: 0px;
  right: 0px;
  padding: 10px;
}

// journal front page
.front-container-content {
  display: flex;
  flex-direction: column;
}

.journal-header {
  display: flex;
  // color: blue;
  justify-content: center;
  text-transform: uppercase;
}

.journal-posts {
  display: flex;
  h2 {
    color: $color__brand-green;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  a {
    color: $color__black;
    text-decoration: none;
  }
}

.front-journal-posts-text {
  padding-left: 20px;
}

.front-journal-posts  {
  border: $color__border;
  margin: 20px;
  // display: flex;
  flex-direction: column;
  position: relative;
}

//widget 
.widget-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
  width: 40%;
  padding-top: 50px;
  border-left: $color__border;
}

.widget-area  a {
  color: $color__brand-green;
}

.textwidget span {
  font-weight: bold;
}

.fa-phone:before, .fa-envelope:before, .fa-map-marker:before {
  color: black;
  padding-right: 1rem;
}
//about 

.about-entry-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}