/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


//header

// .site-header {
//   position: fixed;
//   padding-top: 20px;
//  }

.main-navigation {
  background-color: $color__background-header;  
  border-bottom: $color__border;
  z-index: 3;
}

.main-navigation a {
  color:white; 
  padding: 1rem;
}

.site-main-front-page {
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696
  url(../../images/home-hero.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  // url(../../images/logos/inhabitent-logo-full.svg) no-repeat center,
}

.logo {
  background:
  url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
  background-size: 50px 33px;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.logo-container {
  position: 0px;
}

//main

.site-content {
  display: flex;
  padding-top: 40px;
  position: relative;
}

.entry-title {
  position: absolute;
}

//widget 
.widget-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
  width: 40%;
  border-left: $color__border;
}

.widget-area p, a, li{
  color: green;
}

.textwidget span {
  font-weight: bold;
}


//footer
footer {
  background:
  url(../../images/dark-wood@2x.png)center no-repeat; 
  background-size: 100%;
}

footer h2 {
  text-transform: uppercase;
  color: $color__brand-orange;
}

.footer-block-container {
  height: 280px;
  min-width:1200px;
  display:flex;
  flex-direction: row;
  // contain: strict;
  flex-wrap: nowrap
}

.footer-block-item {
  // display: inline-block;
  background-color: transparent;
  display: flex;
  // display: inline-block;
  flex-direction:column;
  height:280px;
  width: 25%;
  flex-wrap: wrap;
}

footer p {
  color: $color__background-body;
}

.footer-block-item p span {
  font-weight: bold;
}

.footer-block-item:last-child {
  // height: 50px;
  width: 50%;
  // height:100%;
  // width:100%;
}

.footer-logo {
  height: 100px;
  background:
  url(../../images/logos/inhabitent-logo-text.svg)center no-repeat; 
}

.social-links a {
  padding-left: 10px;
  font-size: 1.3rem;
}

.site-info {
  height: 30px;
  align-items: flex-end; 
}

.site-info p {
  text-align: center;
  text-transform: uppercase;
}
