/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


//header

// .site-header {
//   position: fixed;
//   padding-top: 20px;
//  }

.main-navigation {
  background-color: hsla(0,0%,100%,.85);  
}

.main-navigation a {
  color:white; 
  padding: 1rem;
}

.hero{
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696
  url(../../images/home-hero.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  // url(../../images/logos/inhabitent-logo-full.svg) no-repeat center,
}

.logo {
  background:
  url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
  background-size: 50px 33px;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.logo-container {
  position: 0px;
}



//footer
footer {
  background:
  url(../../images/dark-wood@2x.png)center no-repeat; 
  background-size: 100%;
}

footer h2 {
  text-transform: uppercase;
  color: $color__brand-orange;
}

.footer-block-container {
  height: 280px;
  min-width:1200px;
  display:flex;
  flex-direction: row;
  // contain: strict;
  flex-wrap: nowrap
}

.footer-block-item {
  // display: inline-block;
  background-color: transparent;
  display: flex;
  // display: inline-block;
  flex-direction:column;
  height:280px;
  width: 25%;
  flex-wrap: wrap;
}

footer p {
  color: $color__background-body;
}

.footer-block-item p span {
  font-weight: bold;
}

.footer-block-item:last-child img{
  height: 50px;
  width: 280;
  background:
  url(../../images/logos/inhabitent-logo-text.svg)center no-repeat; 
}

// .footer-block-container:nth-child(1){
//   display: flex;
//   flex-direction: column;
// }

.site-info {
  height: 30px;
  align-items: flex-end; 
}

.site-info p {
  text-align: center;
  text-transform: uppercase;
}

// .footer-block-item:nth-last-child(3) {
//   background: red;
//   height: 280px;
//   width: 90%;
//   margin: 0, auto;
//   flex-direction:row;
  // background-image:
  // linear-gradient(
  //   rgba(0,0,0, 0.3),
  //   rgba(0,0,0,0.3)),
  //   url(images/logos/inhabitent-logo-text-dark.svg) center no-repeat,
    

// }

// .footer-block:nth-child(2) {
//   background-color: purple;
// }
