.search-results { 
  .hfeed {
    display: flex;
  }
  .site-content {
    width: 70%;
    padding-left: 10rem;
  }
 
  
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
  }
  .site-main .product, article {
  width: 800px;
  margin: 0 auto;
  
  }
  
}