.shop-stuff-header-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.shop-stuff-header {
  text-transform: uppercase;
}

.shop-item-container {
  ul{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  list-style-type: none;
  padding-top: 40px;
  img {
    width: 200px;
    height: 200px;
  li {
    text-decoration: none;
  }
  }
  }
}

body:not(.product-template-default) .entry-content {
  display: none;
}

.product {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.archive .product-type-blocks{
  display: flex;
  justify-content: center;
  border-bottom: $color__border-dashed;
  .shop-product-link {
    padding: 2rem;
    a {
    color: $color__brand-green;
    text-transform: uppercase;
    text-decoration: none;
    }
  }
}

archive .product .entry-header {
  width: 600px;
}

// body:not()
// .entry-header img {
//   width: 640px;
//   height: 440px;
// }