.shop-stuff-header-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}


// .title-price {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr; 
  // justify-content: center;
// flex-wrap: wrap;
//   img {
//     width: 100%;
//   }
//   header {
//     width: 100%;
//   }
// }

// .testing {
//   grid-column: 1/-1;  
  
// }
.shop-item-container ul {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  img {
    width: 200px;
    height: 200px;
  }
}


  
body:not(.product-template-default) .entry-content {
  display: none;
}

.product {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

body:not()
.entry-header img {
  width: 640px;
  height: 440px;
}