.shop-stuff-header-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.shop-stuff-header {
  text-transform: uppercase;
}

.shop-item-container {
  ul{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  list-style-type: none;
  padding-top: 40px;
  img {
    width: 200px;
    height: 200px;
  li {
    text-decoration: none;
  }
  }
  }
}

body:not(.product-template-default) .entry-content {
  display: none;
}

.product {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border: $color__border;
}

.archive .product-type-blocks{
  display: flex;
  justify-content: center;
  border-bottom: $color__border-dashed;
  .shop-product-link {
    padding: 2rem;
    a {
    color: $color__brand-green;
    text-transform: uppercase;
    text-decoration: none;
    }
  }
}

.archive .site-main{
  padding-top: 5rem;
  .taxonomy-description, h1 {
    display: flex;
    justify-content: center;
  }
}

archive.product.entry-header {
  width: 600px;
  margin-top: 300px;
}
.taxonomy-wrapper {
  display: flex;
  justify-content: space-around;
  // height: 100vh;
  // width: 1120px
}

.taxonomy-product-container {
  // max-width: 250px;
  position: relative;
}

.archive .entry-header img {
    width: 100%;
    position: absolute;
    width: 246px;
    height: 247px;
    transform: translate(-50%,-52%);
    position: relative;
    top: 130px;
    left: 124px;

  }

.entry-title {
  border: $color__border;
  border-top-width: 5px;
}



// body:not()
// .entry-header img {
//   width: 640px;
//   height: 440px;
// }