.single-product .site-content {
  margin: 0 auto;
  width: 1120px;
  min-height: 73vh;

  .entry-title {
    border: none;
  }
  .entry-footer {
    display: none;
  }
  .content-area{
    padding-top: 85px;
    width: 1120px;
  }
  .entry-content p {
    position: absolute;
    top: 30%;
    left: 53%;
    margin: 0 auto;
    width: 500px;
  }

  .single-product-social  {
    position: absolute;
    right: 24%;
    top: 57%;
    span {
      padding-left: 10px;
    }
    
    
    button {
      justify-content: flex-end;
      // margin-right: 154px;
      position: unset;
      text-shadow: none;
      a {
        color: $color__black;
        text-decoration: none;
        
      }
    }
    button :hover {
      color: white;
    }
  }

  .product {
    border: none;
  }

  .entry-header {
    h1 {
    color: $color__brand-orange;
    position: absolute;
    top:14%;
    left: 53%;
  }
    .entry-meta { 
      display: none;
    }
  }
}

